<div class="titleFont">
  <span style="letter-spacing:0.05em; ">MY PORTFOLIO and RESUME</span>
</div>
<div class="flexText generalFont">
  <span>Here is my visual representation of my knowledge and experience</span>
</div>
<div class="mainContainer">
<div class="leftContent_portfolio">
  <div class="flexText myFont">
    <h3>Professional</h3>
  </div>
  <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
      aria-valuemax="100">100%</div>
  </div>
  <label class="flexText myFont">Team Lead | Team Player</label>
  <br>
  <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
      aria-valuemax="100">90%</div>
  </div>
  <label class="flexText myFont">Front end - UI Developer</label>
  <br>
  <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
      aria-valuemax="100">90%</div>
  </div>
  <label class="flexText myFont">Angular | Node | Javascript</label>
  <br>
  <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
      aria-valuemax="100">90%</div>
  </div>
  <label class="flexText myFont">HTML | CSS | Bootstrap</label>
  <br>
  <div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
      aria-valuemax="100">80%</div>
  </div>
  <label class="flexText myFont">Java | Spring boot | Microservices</label>
  <br>
  <div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
      aria-valuemax="100">80%</div>
  </div>
  <label class="flexText myFont">Production Support Executive</label>
  <br>
  <div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
      aria-valuemax="100">85%</div>
  </div>
  <label class="flexText myFont">Oracle | PLSQL Developer</label>
  <br>
</div>

<div class="middleContent_portfolio">
  <div class="button-column">
    <a href="../../../assets/pdfs/Nikhil_Resume.pdf" target="_blank"> <button class="chipCards_portfolio"
        mat-stroked-button color="primary">View Resume</button></a>
    <a href="../../../assets/pdfs/Nikhil_Resume.pdf" download><button class="chipCards_portfolio" mat-stroked-button
        color="primary">Download Resume</button></a>
  </div>
</div>

<div class="rightContent_portfolio">
  <div class="flexText myFont">
    <h3>Personal</h3>
  </div>
  <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
      aria-valuemax="100">100%</div>
  </div>
  <label class="flexText myFont">Love with Family</label>
  <br>
  <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
      aria-valuemax="100">100%</div>
  </div>
  <label class="flexText myFont">As a son | As a father</label>
  <br>
  <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
      aria-valuemax="100">100%</div>
  </div>
  <label class="flexText myFont">Sports - Cricket</label>
  <br>
  <div class="progress">
    <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
      aria-valuemax="100">70%</div>
  </div>
  <label class="flexText myFont">Sports - Badminton</label>
  <br>
  <div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
      aria-valuemax="100">90%</div>
  </div>
  <label class="flexText myFont">Games - NFS, Tekken3</label>
  <br>
</div>
</div>