<div class="titleFont">
  <span style="letter-spacing:0.05em; ">MY STORY TIMELINE</span>
</div>
<div class="container">
  <div class="timeline">
    <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
      <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
        <h3 class=" text-light">New Member in Family</h3>
        <p>Blessed with baby boy. Most happiest moment as a father. </p>
      </div>
      <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
        <img src="../../../assets/images/father.jpg" class="img-fluid" alt="img">
      </div>
      <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
        <time>Sep 19, 2018</time>
      </div>
    </div>
    <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
      <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
        <h3 class=" text-light">Joined LTI</h3>
        <p>Started working in LTI as MEAN Stack developer.</p>
      </div>
      <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
        <img src="../../../assets/images/LTI.JPG" class="img-fluid" alt="img">
      </div>
      <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
        <time>Aug 06, 2018</time>
      </div>
    </div>
    <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
      <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
        <h3 class=" text-light">Married</h3>
        <p>Most Auspicious day of my life.</p>
      </div>
      <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
        <img src="../../../assets/images/married.jpg" class="img-fluid" alt="img">
      </div>
      <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
        <time>Apr 22, 2016</time>
      </div>
    </div>
    <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
      <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
        <h3 class=" text-light">Arriving Onsite</h3>
        <p>Deputed to onsite client location - Chicago, USA</p>
      </div>
      <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
        <img src="../../../assets/images/flight.jpg" class="img-fluid" alt="img">
      </div>
      <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
        <time>Apr 20, 2015</time>
      </div>
    </div>

    <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
      <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
        <h3 class=" text-light">Joined my 1st Job - TCS</h3>
        <p>Most happiest and proudest moment. Location - Chennai, India</p>
      </div>
      <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
        <img src="../../../assets/images/job.jpg" class="img-fluid" alt="img">
      </div>
      <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
        <time>Aug 11, 2011</time>
      </div>
    </div>
    <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
      <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
        <h3 class=" text-light">Graduation - ECE</h3>
        <p>Completed my graduation in SASTRA University, Tamilnadu, India</p>
      </div>
      <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
        <img src="../../../assets/images/grad.jpg" class="img-fluid" alt="img">
      </div>
      <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
        <time>May 2007 - May 2011</time>
      </div>
    </div>
    <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
      <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
        <h3 class=" text-light">Higher Secondary</h3>
        <p>Completed my Intermediate (Grade- 12) in Vignan College - Guntur, AP - India</p>
      </div>
      <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
        <img src="../../../assets/images/college.jpg" class="img-fluid" alt="img">
      </div>
      <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
        <time>May 2005 - Mar 2007</time>
      </div>
    </div>
    <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
      <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
        <h3 class=" text-light">Schooling (0- 10th)</h3>
        <p>Completed my schooling in Kennedy High School, Vijayawada, AP - India</p>
      </div>
      <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
        <img src="../../../assets/images/school.jpg" class="img-fluid" alt="img">
      </div>
      <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
        <time>Till 2005</time>
      </div>
    </div>
    <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
      <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
        <h3 class=" text-light">I am born</h3>
        <p>I was born on 3rd Feb 1989 and my lovely life journey started since then. </p>
      </div>
      <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
        <img src="../../../assets/images/born.jpg" class="img-fluid" alt="img">
      </div>
      <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
        <time>Feb 3, 1989</time>
      </div>
    </div>
  </div>
</div>