<div class="titleFont">
  <span style="letter-spacing:0.05em; ">INTRODUCTION</span>
</div>
<br>
<div class="mainContainer">
<div class="leftContent">
  <mat-card class="image-card">
    <img class="myImage" mat-card-image src="../../../../assets/images/Nikhil_pic.jpg" alt="Photo of a Shiba Inu">
    <button class="hireBtn" mat-stroked-button color="primary" (click)="openHireDialog()">Hire Me</button>
  </mat-card>

</div>

<div class="rightContent">
  <p style="font-size: 50px;">Nikhil &nbsp;Desu</p>
  <br>
  <div class="linerClass">Web Developer | Creative Designer</div>
  <br>
  <div class="description">Love to do things in creative way !</div>
  <br><br>
  <div class="button-row">
    <a href="../../../assets/pdfs/Nikhil_Resume.pdf" target="_blank"> <button class="chipCards" mat-button>View
        Resume</button></a>

    <a href="../../../assets/pdfs/Nikhil_Resume.pdf" download> <button class="chipCards" mat-button>Download Resume 
      </button></a>
  </div>
  <br>
  <div>
    <!-- <div class="imageRow">
        <img src="../../../assets/images/angular.png" class="stackImage stackUp"> 
        <img src="../../../assets/images/javascript.png" class="stackImage">
        <img src="../../../assets/images/typescript.jpg" class="stackImage stackUp">
        <img src="../../../assets/images/HTML5.png" class="stackImage">
        <img src="../../../assets/images/css.png" class="stackImage stackUp">
        <img src="../../../assets/images/bootstrap.png" class="stackImage">
     </div>
     <div class="imageRow">
        <img src="../../../assets/images/jquery.png" class="stackImage stackUp">          
        <img src="../../../assets/images/node.jpg" class="stackImage">
        <img src="../../../assets/images/expressjs.png" class="stackImage stackUp">
        <img src="../../../assets/images/mongo.png" class="stackImage">
        <img src="../../../assets/images/java.jpg" class="stackImage stackUp">
        <img src="../../../assets/images/oracle.jpg" class="stackImage">
     </div> -->
    </div>
   
</div>

 
     
 